<div class="container-fluid outer">
  <div class="row">
    <h5 class="page-title">Add New Clinics</h5>
  </div> 
  <div class="row inner">
    <div class="col-12">

      <div class="row">
        <div class="col-md-4">
          <form>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput value="Harley Medicine Center HWC">
              <button mat-icon-button matSuffix>
                <mat-icon >search</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-2">
              <img class="img-thumbnail" src="../assets/medical.jpg">
            </div>
            <div class="col-sm-8">
              <p class="store-title">Harley Medicine Center HWC</p>
              <div class="row address" > 
                <div class="col-sm-1 col-1">
                  <mat-icon >room</mat-icon>
                </div>
                <div class="col-sm-10 col-10">
                  <p>342, Cooperative Colony, Bank Moren, New Road Dhanbaad, Jharkhand 3673832</p>
                </div>  
              </div>
              <div class="date"><b>Date Added: </b><span>12/11/2020</span></div>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <div class="row remarks-input">
            <div class="col-sm-7 ml-auto">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Remarks">
              </div>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn invite-btn">Send Invite</button>
            </div>
          </div>   
        </div>
      </div>  
    
      <div class="row">
        <p class="heading col-12">Clinic Information</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="subtitle">HWC Manager Name</div>
          <div>Dr. Dina Khan</div>
        </div>
        <div class="col-sm-4">
          <div class="subtitle">Clinic Phone Number</div>
          <div>8560979053</div>
        </div>
        <div class="col-sm-4">
          <div class="subtitle">System Of Practices</div>
          <div>Homeopathy</div>
        </div>
      </div>
    
      <div class="row">
        <p class="heading col-12">Clinic Facilities</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="subtitle">Facilities in the clinic</div>
          <div class="list">
            <ul>
              <li>Laptop</li>
              <li>Desktop</li>
              <li>Smartphone</li>
              <li>Tablet</li>
              <li>Printer</li>
              <li>Broadband Connection</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="subtitle">Devices available in clinic</div>
          <div class="list">
            <ul>
              <li>BP Instrument</li>
              <li>Thermometer</li>
              <li>Sugar Test Machine</li>
              <li>Weighing Machine</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="subtitle">System Of Practices</div>
          <div>Within 1km</div>
          <div class="subtitle">Any Other Facility in Clinic</div>
          <div>This is the other facility in clinic which we have to take care every time</div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <button class="btn flat-btn ml-auto mr-auto">DASHBOARD</button>
  </div>
</div>